<h1>Edit Venue</h1>
<h2>
<%= form_for(@venue) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <br>
    <br>
    <%= f.label :price %>
    <%= f.number_field :price, step:"0.01" %>
    <br>
    <br>
    <%= submit_tag "Update Venue" %>
<% end %>
</h2>