<h1>Edit Venue</h1>
<%= render partial: "layouts/error", locals: { object: @venue } %>

<h4>
<%= form_for(@venue) do |f| %>
    <%= render partial: "form", locals: { fp: f } %>

    <h3>Add Weddings:</h3>
    <%= f.fields_for :weddings do |w| %>
        <%= w.label :title %>
        <%= w.text_field :title %>
        <br>
        <br>
        <%= w.label :color_scheme %>
        <%= w.text_field :color_scheme %>
        <br>
        <br>
        <%= w.label :entertainment %>
        <%= w.text_field :entertainment %>
        <br>
        <br>
        <%= w.label :flowers %>
        <%= w.text_field :flowers %>
        <hr>
        <br>
        <% end %>
    <%= f.submit %>
<% end %>
</h4>