<h1><%= @venue.name %></h1>

<h2><%= @venue.name_and_address %></h2>
<br>
<br>
<%= venue_price %>
<br>
<br>
<h2><%= @venue.name %> Wedding List:</h2>
<h3><%= render partial: "weddings/wedding", collection: @venue.weddings %></h3>
<h3>
<%= link_to "Delete", venue_path(@venue), method: 'delete' %>
<br>
<br>
<%= link_to "Edit", edit_venue_path(@venue)%>
</h3>