<h1><%= @venue.name %></h1>
<h2>Address:</h2>
<h3><%= @venue.name_and_address %></h3>
<br>
<h3>State: <%= @venue.state.name %></h3>
<br>
<%= venue_price_helper %>
<br>
<br>
<h2>Wedding's</h2>
<h3>
<%= link_to "See all Weddings", venue_weddings_path(@venue) %>
<br>
<br>
<%= link_to "Add a new Wedding", new_venue_wedding_path(@venue) %>
</h3>
<h3>
<br>
<%= link_to "Edit", edit_venue_path(@venue) %>
<br>
</h3>