<h1>Edit Wedding</h1>
<h2>
<%= form_for(@wedding) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <br>
    <%= f.label :color_scheme %>
    <%= f.text_field :color_scheme %>
    <br>
    <br>
    <%= f.label :entertainment %>
    <%= f.text_field :entertainment %>
    <br>
    <br>
    <%= submit_tag "Update Wedding" %>
<% end %>
</h2>