<h1>Create Wedding</h1>

<h2>
<%= form_with(url: weddings_path) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <br>
    <%= f.label :color_scheme %>
    <%= f.text_field :color_scheme %>
    <br>
    <br>
    <%= f.label :entertainment %>
    <%= f.number_field :entertainment %>
    <br>
    <br>
    <%= submit_tag "Create Wedding" %>
<% end %>
</h2>