<h1>Create Wedding</h1>
<% if @wedding.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@wedding.errors.count, "error") %> prohibited this wedding from being saved:</h2>

    <ul>
      <% @wedding.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<h2>
<%= form_for(@wedding) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <br>
    <%= f.label :color_scheme %>
    <%= f.text_field :color_scheme %>
    <br>
    <br>
    <%= f.label :entertainment %>
    <%= f.text_field :entertainment %>
    <br>
    <br>
    <%= f.label :flowers %>
    <%= f.text_field :flowers %>
    <br>
    <br>
    <h3>Make a Venue:</h3>
    <%= f.fields_for :venue do |v| %>
        <%= v.label :name %>
        <%= v.text_field :name %>
        <br>
        <br>
        <%= v.label :address %>
        <%= v.text_field :address %>
        <br>
        <br>
        <%= v.label :price %>
        <%= v.number_field :price, step:"0.01" %>
    <% end %>
    
    <br>
    <br>
    <%= f.submit "Create Wedding" %>
<% end %>
</h2>