<!DOCTYPE html>
<html>
  <head>
    <title>DreamWeddingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to "Add a New Venue", new_venue_path %> |
  <%= link_to "All Weddings", weddings_path %> |
  <%= link_to "All Venues", venues_path %> | 
  <%= link_to "Most Expensive", venues_most_expensive_path	 %> | 
  <%= link_to "Least Expensive", venues_least_expensive_path	 %> | 
  <%= link_to "Profile", user_path(current_user) %> |

   <br>
  <br>
    <%= navigation_helper %>  
    <% flash.each do |type, msg| %>
    <%= msg %>
  <% end %>
    <%= yield %>
  </body>
</html>