<!DOCTYPE html>
<html>
  <head>
    <title>DreamWeddingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to "Add a New Wedding", new_wedding_path %> |
  <%= link_to "All Weddings", weddings_path %> |
  <%= link_to "All Venues", venues_path %> | 
  <%= link_to "Profile", user_path(current_user) %> |
    <%= navigation_helper %>
    <br>
    <br>

  <% flash.each do |type, msg| %>
    <%= msg %>
  <% end %>
    <%= yield %>
  </body>
</html>
